.welcome_pag_header_button {
    background: none;
    border: none;
    width: 44px;
    height: 44px;
    text-align: left;

    img {
        width: 44px;
        height: 44px;
    }
}

.welcome_pag_header_div2 {
    display: flex;
    width: 100%;
    padding-right: 26px;
    overflow: hidden;
    height: 52px;
    angle: 0 deg;
    padding-top: 16px;
    opacity: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
}
.welcome_pag_header_header {
    position: sticky;
    top: 0;
    margin: 0 13px;
    padding: 20px 16px 0px 0px;
    background: #ffffff;
    z-index: 1000;
    overflow: hidden;
}
.un {
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 100;
    div {
        background: none;
    }
}

select {
    border: none;
    outline: none;
}
.toGo_select {
    width: unset !important;
    -webkit-appearance: none;
    appearance: none;

    height: 44px;

    font-size: 14px;
    font-weight: 700;
    text-align: center;

    border: none;
    outline: none;

    background: transparent;
    padding: 0;
    margin: 0 36px;
}

select:focus {
    outline: none;
    box-shadow: none;
}
.selectWrap {
    position: relative;
    display: flex;
}

// .selectSpan::after {
//     content: "";

//     margin-right: 4px;
//     width: 9px;
//     height: 16px;

//     background-color: black;

//     -webkit-mask: url("/assets/icons/arrow.svg") no-repeat center;
//     -webkit-mask-size: contain;

//     mask: url("/assets/icons/arrow.svg") no-repeat center;
//     mask-size: contain;
// }
